.article-featured {
  border-bottom: 1px solid #707070;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

img {
  width: 10%;
}
.article-read-more {
  font-size: 0.875rem;
  color: #1792d2;
  text-decoration: none;
  font-weight: 700;
}
.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}
