header {
  background: #f8f8f8;
  padding: 2em 0;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
}
